body, html{
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 1.2em;
	height: 100%;
	margin: 0;
	width: 100%
}
h1 {
	margin-top: 0;
}
.bottomsheet {
	bottom: 0;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
	left: 3em;
	position: fixed;
	right: 3em;
	transform: translateY(calc(100% + 4px));
	transition: opacity 0.4s ease-in-out 0.1s, transform 0.5s ease-in-out;
	z-index: 9999;
}
.bottomsheet.visible {
	transform: none;
}
#continue-arrow {
	align-items: center;
	color: #fff;
	font-size: 2em;
	pointer-events: none;
	text-align: center;
	transform: rotate(90deg) scale(1, 3);
}
#continue-arrow span {
	margin-left: auto;
	margin-right: auto;
}
#continue-content {
	padding: 1em;
}
#continue-content p {
	margin: 0;
}
#continue-finish {
	margin-bottom: .5em;
	text-align: center;
}
#continue-finish a {
	background-color: #fff;
	border: 2px solid #294D35;
	border-radius: 4px;
	color: #294D35;
	cursor: pointer;
	font-size: 1.5em;
	margin-left: auto;
	margin-right: auto;
	padding: 0 .5em;
	text-decoration: none;
	transition: background-color .25s ease-in-out;
}
#continue-finish a:hover {
	background-color: rgba(255, 255, 255, 0.6);
}
#map {
	height: 100vh;
	width: 100vw;
}
#panel-continue {
	background-color: #6ecc8e;
	display: flex;
	flex-direction: column;
	opacity: .8;
	overflow: hidden;
}
#panel-continue.visible {
	transform: translateY(calc(100% - 3rem));
}
#panel-continue:hover {
	opacity: 1;
	transform: none;
}
#panel-error {
	background: #fff;
	max-height: 100vh;
	padding: 1em;
}
#panel-error h1 {
	color: #e31b2e;
}
#panel-introduction {
	background: #fff;
	max-height: 100vh;
	padding: 1em;
	padding-bottom: 3em;
}
.close {
	color: #000;
	cursor: pointer;
	font-weight: bold;
	position: absolute;
	text-decoration: none;
	top: .5em;
	transition: color 0.25s ease-in-out;
	right: .5em;
}
.close:hover {
	color: #e31b2e;
}
@media only screen and (max-width: 600px) {
	.bottomsheet {
		left: .5em;
		right: .5em;
	}
}
