<!doctype html>
<html lang="de">
<head>
<meta charset="utf-8">
<title>Coordinate Mediator</title>
<meta name="author" content="µKöff" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="lib/leaflet/leaflet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="map"></div>
<div id="panel-introduction" class="bottomsheet" aria-hidden="true">
	<a href="#" class="close" title="Close this dialog window" data-l10n-title="dialog-close">X</a>
	<h1 id="panel-introduction-title">Coordinate Mediator</h1>
	<p id="panel-introduction-text" data-l10n="introduction-text">Please navigate to the desired map section and then click on the green arrow on the bottom of the screen.</p>
</div>
<div id="panel-continue" class="bottomsheet" aria-hidden="true">
	<div id="continue-arrow">
		<span>&lt;</span>
	</div>
	<div id="continue-content">
		<div id="continue-finish">
			<a href="#" data-l10n="button-done">I'm done</a>
		</div>
		<p>
			<span data-l10n="continue-redirectto-pre">Please note that you'll be redirected to</span><br/>
			<i><span class="param-host">{{domain}}</span><span data-l10n="continue-redirectto-post"></span></i>.
		</p>
	</div>
</div>
<div id="panel-error" class="bottomsheet" aria-hidden="true">
	<h1 id="panel-introduction-title" data-l10n="error-title">Error</h1>
	<p id="panel-introduction-text" data-l10n="error-text">The URL used is incomplete and does not contain all information needed in order to proceed.</p>
</div>
<script src="lib/leaflet/leaflet.js"></script>
<script src="js/locales.js"></script>
<script src="js/l10n.js"></script>
<script src="js/script.js"></script>
</body>
</html>
